[submodule "submodules/bash-preexec"]
	path = submodules/bash-preexec
	url = https://github.com/rcaloras/bash-preexec.git
[submodule "submodules/bash-zsh-compat-widgets"]
	path = submodules/bash-zsh-compat-widgets
	url = https://github.com/curusarn/bash-zsh-compat-widgets.git
